{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Acerca de mi</h1>
    <p>
        Soy un desarrollador hace mas de 4 años, me dedico a la creación de soluciones tecnológicas. 
        Tengo experiencia en el desarrollo de aplicaciones web con conocimientos en HTML, CSS, JavaScript, Angular, React, como tambien en la creación de servicios REST en java. 
        Mi objetivo es diseñar y desarrollar productos de alta calidad, centrados en la usabilidad y la experiencia del usuario. 
        Siempre estoy buscando nuevos desafíos y oportunidades para aprender y crecer en el campo de la tecnología.
    </p>
</div>
{% endblock content %}